<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Voeg betaalwijzen toe</title>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Maak een nieuwe betaalwijze</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <p:panelGrid class="ui-noborder" id="matchGrid" columns="3" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="naam" value="Naam:" />
                    <p:inputText id="naam" value="#{betaalwijzeController.nieuweNaam}" title="Naam" required="true" requiredMessage="vul dit veld in!"/>
                    <h:message for="naam" style="color:red"/>

                    <p:commandButton update="matchGrid" value="maak betaalwijze" action="#{betaalwijzeController.createBetaalwijze()}"/>
                </p:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>