<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <ui:include src="../template/admin_header.xhtml" />
    <title>axel-addboeken</title>
</h:head>
<h:body style="padding-top: 50px; padding-bottom: 20px;">
    <b:container id="admin_boekenBeheren">
        <div class="col-md-6 col-lg-6" >
            <h:form prependId="false" method="POST">
                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                <p:panel id="panelBoeken" header="Boek" styleClass="myPanel">
                    <h:panelGrid id="boekToevoegen" columns="2" width="80%">

                        <p:outputLabel for="genre" value="Genre" />
                        <p:selectOneMenu id="genre" styleClass="dropdown" required="true" requiredMessage="Kies een genre." value="#{boekController.newBoekGenre}" converter="#{entityConverter}">
                            <f:selectItem itemLabel="selecteer" noSelectionOption="true" />
                            <f:selectItems value="#{genreController.getGenres()}" var="g" itemLabel="#{g.naam}" itemValue="#{g}"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="auteur" value="Auteur" />
                        <p:selectOneMenu id="auteur" styleClass="dropdown" required="true" requiredMessage="Kies een auteur." value="#{boekController.newBoekAuteur}" converter="#{entityConverter}">
                            <f:selectItem itemLabel="selecteer" noSelectionOption="true"  />
                            <f:selectItems value="#{auteurController.getAuteurs()}" var="a" itemLabel="#{a.naam}" itemValue="#{a}"/>
                            <f:validateRequired/>
                        </p:selectOneMenu>

                        <p:outputLabel for="uitgeverij" value="Uitgeverij" />
                        <p:selectOneMenu id="uitgeverij" styleClass="dropdown" required="true" requiredMessage="Kies een uitgeverij." value="#{boekController.newBoekUitgeverij}" converter="#{entityConverter}">
                            <f:selectItem itemLabel="selecteer" noSelectionOption="true" />
                            <f:selectItems value="#{uitgeverijController.getUitgeverijen()}" var="u" itemLabel="#{u.naam}" itemValue="#{u}"/>
                            <f:validateRequired/>
                        </p:selectOneMenu>

                        <p:outputLabel for="titel" value="Titel" />
                        <p:inputText id="titel" value="#{boekController.newBoekTitel}" required="true" requiredMessage="Vul een titel in."/>

                        <p:outputLabel for="beschrijving" value="Beschrijving" />
                        <p:inputTextarea id="beschrijving" value="#{boekController.newBoekBeschrijving}" rows="6" required="true" requiredMessage="Vul een beschrijving in."/>

                        <p:outputLabel for="prijs" value="Prijs" />
                        <p:inputText id="prijs" value="#{boekController.newBoekPrijs}" required="true" requiredMessage="Vul prijs titel in" validatorMessage="PRIJS: Dit is geen decimaal getal. (bv 12.25)" >
                            <f:validateDoubleRange minimum="0.00" maximum="99999.99" />
                        </p:inputText>

                        <p:outputLabel for="voorraad" value="Voorraad" />
                        <p:inputText id="voorraad" value="#{boekController.newBoekVoorraad}" required="true" requiredMessage="Vul een voorraad in" converterMessage="VOORRAAD: Dit is geen geheel getal.">
                            <f:validateDoubleRange minimum="0" maximum="99999" />
                        </p:inputText>

                        <p:outputLabel />
                        <p:commandButton update="boekToevoegen,msgsBoeken" value="Boek toevoegen" action="#{boekController.createBoek()}" />

                        <p:outputLabel />
                    </h:panelGrid>
                    <p:messages id="msgsBoeken" />

                </p:panel>
            </h:form>
        </div>

        <div class="col-md-6 col-lg-6">
            <h:form prependId="false" method="POST">
                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                <p:panel id="panelGenre" header="Genre" styleClass="myPanel">
                    <h:panelGrid id="genreToevoegen" columns="2" >
                        <p:outputLabel for="Gnaam" value="Naam" />
                        <p:inputText id="Gnaam" value="#{genreController.newGenreNaam}" required="true" requiredMessage="Vul een naam in." />

                        <p:outputLabel />
                        <p:commandButton update="boekToevoegen,genreToevoegen" value="Genre toevoegen" action="#{genreController.createGenre()}"  />

                        <p:outputLabel />
                        <p:messages id="msgsGenre" />
                    </h:panelGrid>
                </p:panel>
            </h:form>

            <h:form prependId="false" method="POST">
                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                <p:panel id="panelAuteur" header="Auteur" styleClass="myPanel">
                    <h:panelGrid id="auteurToevoegen" columns="2">
                        <p:outputLabel for="Anaam" value="Naam" />
                        <p:inputText id="Anaam" value="#{auteurController.newAuteursNaam}" required="true" requiredMessage="Vul een naam in." />

                        <p:outputLabel />
                        <p:commandButton update="boekToevoegen,auteurToevoegen" value="Auteur toevoegen" action="#{auteurController.createAuteur()}"/>

                        <p:outputLabel />
                        <p:messages id="msgsAuteur" />
                    </h:panelGrid>
                </p:panel>
            </h:form>

            <h:form prependId="false" method="POST">
                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                <p:panel id="panelUitgeverij" header="Uitgeverij" styleClass="myPanel">
                    <h:panelGrid id="uitgeverijToevoegen" columns="2" >
                        <p:outputLabel for="Unaam" value="Naam" />
                        <p:inputText id="Unaam" value="#{uitgeverijController.newUitgeverijNaam}" required="true" requiredMessage="Vul een naam in." />

                        <p:outputLabel for="Ubeschrijving" value="Beschrijving" />
                        <p:inputTextarea id="Ubeschrijving" value="#{uitgeverijController.newUitgeverijBeschrijving}"  required="true" requiredMessage="Vul een beschrijving in."/>

                        <p:outputLabel />
                        <p:commandButton update="boekToevoegen,uitgeverijToevoegen" value="Uitgeverij toevoegen" action="#{uitgeverijController.createUitgeverij()}"/>

                        <p:outputLabel />
                        <p:messages id="msgsUitgeverij" />
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </div>

        <div class="clearfix"></div>

        <hr/>
        <ui:include src="../template/footer.xhtml" />
    </b:container>
<script>
    $(document).on("pfAjaxComplete", function() {
        var $messages = $(".ui-messages div");

        if ($messages.length) {
            var wordCount = $messages.text().split(/\W/).length;
            var readingTimeMillis = 2000;

            setTimeout(function() {
                $messages.slideUp("slow");
            }, readingTimeMillis);
        }
    });
</script>
</h:body>
</html>