<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Tickets</title>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Overzicht tickets</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <p:dataTable var="ticket" value="#{supportTicketController.getTickets()}">
                    <p:column headerText="Naam gebruiker die het ticket aanmaakte">
                        <h:outputText value="#{ticket.user.voornaam} #{ticket.user.achternaam}" />
                    </p:column>
                    <p:column headerText="E-mail gebruiker die het ticket aanmaakte">
                        <h:outputText value="#{ticket.user.email}" />
                    </p:column>
                    <p:column headerText="Onderwerp">
                        <h:outputText value="#{ticket.onderwerp}" />
                    </p:column>
                    <p:column headerText="Inhoud">
                        <h:outputText value="#{ticket.inhoud}" />
                    </p:column>
                    <p:column headerText="Datum">
                        <h:outputText value="#{ticket.convertDatum()}" />
                    </p:column>
                    <p:column headerText="Afgehandeld?">
                        <h:outputText value="#{ticket.toonAfgehandeld()}" />
                    </p:column>
                    <p:column headerText="">
                        <h:commandLink action="#{supportTicketController.updateSupportTicket(ticket.id)}" value="ticket afgehandeld" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>