<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <title>axel-addboeken</title>
</h:head>
<h:body style="padding-top: 50px; padding-bottom: 20px;">
    <ui:include src="../gedeeld/nav.xhtml" />
    <b:container id="admin_bestellingenBeheren">
        <div class="col-xs-12">
            <p:panel id="panelBestellingenZoeken" header="Bestellingen zoeken - #{adminBestellingenBeherenController.zoekFunctie}" styleClass="myPanel">
            <h:panelGrid id="bestellingenZoeken" columns="2" width="80%">
            <h:form>
                <p:selectOneMenu id="user" styleClass="dropdown" value="#{adminBestellingenBeherenController.user}" converter="#{entityConverter}">
                    <p:ajax listener="#{adminBestellingenBeherenController.onUserChange()}" update="winkelmandenVanUser,panelBestellingenZoeken" />
                    <f:selectItem itemLabel="Op user" noSelectionOption="true"  />
                    <f:selectItems value="#{userController.getUsers()}" var="user" itemLabel="#{user.voornaam} #{user.achternaam}" itemValue="#{user}"/>
                </p:selectOneMenu>

                <p:selectOneMenu id="datum" styleClass="dropdown" value="#{adminBestellingenBeherenController.datum}" converter="#{entityConverter}">
                    <p:ajax listener="#{adminBestellingenBeherenController.onDateChange()}" update="winkelmandenVanUser,panelBestellingenZoeken" />
                <f:selectItem itemLabel="Op datum" noSelectionOption="true"  />
                <f:selectItems value="#{adminBestellingenBeherenController.getDatumsVanBestellingen()}" var="datum" itemLabel="#{adminBestellingenBeherenController.formatDate(datum.time,'yyyy-MM-d')}" itemValue="#{datum}"/>
                </p:selectOneMenu>

                <p:selectOneMenu id="winkelmand" styleClass="dropdown" value="#{adminBestellingenBeherenController.winkelmandId}" converter="#{entityConverter}">
                    <p:ajax listener="#{adminBestellingenBeherenController.onWinkelmandNrChange()}" update="winkelmandenVanUser,panelBestellingenZoeken" />
                    <f:selectItem itemLabel="Op bestellingNr" noSelectionOption="true"  />
                    <f:selectItems value="#{winkelmandController.getBestellingen()}" var="winkelmand" itemLabel="#{winkelmand.id}" itemValue="#{winkelmand.id}"/>
                </p:selectOneMenu>
            </h:form>
            </h:panelGrid>
            </p:panel>
        </div>

        <div class="col-xs-12">
            <p:dataTable id="winkelmandenVanUser" var="bestelling" value="#{adminBestellingenBeherenController.winkelmanden}" >
                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="titel"/>
                        <p:column headerText="auteur"/>
                        <p:column headerText="prijs per stuk"/>
                        <p:column headerText="aantal"/>
                        <p:column headerText="prijs"/>
                        <p:column headerText=""/>
                    </p:row>
                </p:columnGroup>
                <p:subTable id="subTable" var="item" value="#{bestelling.getItems()}">
                    <f:facet name="header">
                        <h:outputText value="BestellingNr: #{bestelling.id}"/>
                        <h:outputText styleClass="leftRightPadding" value="|"/>
                        <h:outputText value="Datum: "/>
                        <h:outputText value="#{bestelling.datum.time}">
                            <f:convertDateTime pattern="d-M-yyyy" />
                        </h:outputText>
                        <h:outputText styleClass="leftRightPadding" value="|"/>
                        <h:outputText value="Klant: #{bestelling.getUser().voornaam} #{bestelling.getUser().achternaam}"/>
                    </f:facet>
                    <p:column>
                        <h:outputText value="#{item.getBoek().getTitel()}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{item.getBoek().getAuteur().getNaam()}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="€ #{item.getBoek().getPrijs()}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{item.getAantal()}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="€ #{item.getBoek().getPrijs() * item.getAantal()}"/>
                    </p:column>
                    <p:column>
                        <h:form style="overflow: hidden; text-align: center">
                            <p:commandButton  style="margin-right: 10px" styleClass="myButton myButtonWarning" icon="fa fa-pencil" action="#{adminBestellingenBeherenController.wijzigItem(item)}" update="parentPanel" oncomplete="PF('dlg').show();" />
                            <p:commandButton  styleClass="myButton myButtonDanger" icon="fa fa-times" action="#{adminBestellingenBeherenController.deleteItem(item)}" update="parentPanel" onsuccess="location.reload();"/>
                       </h:form>
                     </p:column>
                    <p:columnGroup type="footer">
                        <p:row class="myFooter">
                            <p:column footerText="Totale prijs: "/>
                            <p:column colspan="3"/>
                            <p:column footerText="€ #{bestelling.getTotalePrijs()}"/>
                            <p:column/>
                        </p:row>
                    </p:columnGroup>
                </p:subTable>
            </p:dataTable>

            <h:panelGroup id="parentPanel">

            <p:dialog id="itemChangeDialog" widgetVar="dlg" modal="true" header="Item bewerken" resizable="false" width="400px" showEffect="clip" hideEffect="clip">
                <p:ajax event="close" update=":winkelmandenVanUser" resetValues="true" />

                <h:form method="POST">
                    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    <p:panelGrid columns="2">
                        <p:outputLabel id="itemId" value="ItemId: #{adminBestellingenBeherenController.updateItem.id}" />
                        <p:outputLabel id="itemPrijsPerStuk" value="Eenheidsprijs: € #{adminBestellingenBeherenController.updateItem.boek.prijs}" >
                            <!--<f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2"/>-->
                        </p:outputLabel>

                        <p:outputLabel id="itemWinkelmandId" value="WinkelmandId: #{adminBestellingenBeherenController.winkelmandId}" />
                        <p:outputLabel id="itemPrijsTotaal" value="Totaalprijs: € #{(adminBestellingenBeherenController.updateItem.boek.prijs * adminBestellingenBeherenController.aantal)}" />

                        <p:spacer height="20" />
                        <p:spacer height="20" />

                        <p:outputLabel for="itemBoek" value="Boek" />
                        <p:selectOneMenu id="itemBoek" styleClass="dropdown" value="#{adminBestellingenBeherenController.boek}" converter="#{entityConverter}">
                            <f:selectItem itemLabel="#{adminBestellingenBeherenController.boek.titel}"  itemValue="#{adminBestellingenBeherenController.boek}"  />
                            <f:selectItems value="#{boekController.getBoeken()}" var="itemBoek" itemLabel="#{itemBoek.titel}" itemValue="#{itemBoek}"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="itemAantal" value="Aantal" />
                        <p:inputText type="number" id="itemAantal" value="#{adminBestellingenBeherenController.aantal}" >
                            <p:ajax listener="#{adminBestellingenBeherenController.onChangeItemAantal()}" update="itemPrijsTotaal" />
                        </p:inputText>

                        <p:outputLabel/>
                        <p:column colspan="2">
                            <p:commandButton value="Opslaan" action="#{adminBestellingenBeherenController.updateItemOpslaan()}" oncomplete="PF('dlg').hide();" onsuccess="location.reload();" />
                            <p:commandButton value="Annuleren" action="#{adminBestellingenBeherenController.updateItemAnnuleren()}" oncomplete="PF('dlg').hide();" />
                        </p:column>
                    </p:panelGrid>
                </h:form>
            </p:dialog>
        </h:panelGroup>
        </div>

        <hr/>
        <footer>
            <p>© Company</p>
        </footer>
    </b:container>

</h:body>
</html>