<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">>
<h:head>
	<title>Betaalwijzes</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
</h:head>
<h:body>
	<ui:composition template="../template/template.xhtml">
		<ui:define name="content_titel">
			<h1>Overzicht betaalwijzes</h1>
		</ui:define>
		<ui:define name="content">
			<h:form>
				<p:dataTable var="wijze" value="#{betaalwijzeController.getBetaalwijzen()}">
					<p:column headerText="naam">
						<h:outputText value="#{wijze.getNaam()}"/>
					</p:column>
				</p:dataTable>

				<h:link outcome="addBetaalwijzen" value="Voeg een nieuwe betaalwijze toe"/>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
