<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Rollen</title>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Overzicht userrollen</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <p:dataTable var="rol" value="#{userRolController.getRollen()}">
                    <p:column headerText="Level">
                        <h:outputText value="#{rol.level}" />
                    </p:column>
                    <p:column headerText="Functie">
                        <h:outputText value="#{rol.functie}" />
                    </p:column>
                </p:dataTable>

                <h:link outcome="addRollen" value="Voeg een nieuwe rol toe"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>