<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Voeg tickets toe</title>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Maak een nieuw ticket</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <p:panelGrid class="ui-noborder" columns="3" id="matchGrid" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="onderwerp" value="Onderwerp:" />
                    <p:inputText id="onderwerp" value="#{supportTicketController.nieuwOnderwerp}" title="Onderwerp" required="true" requiredMessage="vul dit veld in!"/>
                    <h:message for="onderwerp" style="color:red"/>

                    <p:outputLabel for="inhoud" value="Inhoud:" />
                    <p:inputTextarea id="inhoud" value="#{supportTicketController.nieuweInhoud}" title="Inhoud" required="true" requiredMessage="vul dit veld in!" rows="10" style="width:100%" />
                    <h:message for="inhoud" style="color:red"/>
                </p:panelGrid>

                <p:commandButton update="matchGrid" value="maak ticket" action="#{supportTicketController.createSupportTicket()}" />
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>