<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Winklemand</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Winkelmand van #{winkelmandController.huidigeWinkelmand.user.voornaam}</h1>
        </ui:define>
        <ui:define name="content">
            <p:dataTable var="item" value="#{winkelmandController.getHuidigeWinkelmand().getItems()}">
                <p:column headerText="titel">
                    <h:outputText value="#{item.getBoek().getTitel()}"/>
                </p:column>
                <p:column headerText="auteur">
                    <h:outputText value="#{item.getBoek().getAuteur().getNaam()}"/>
                </p:column>
                <p:column headerText="prijs per stuk" >
                    <h:outputText value="€ #{item.getBoek().getPrijs()}"/>
                </p:column>
                <p:column headerText="aantal" >
                    <h:outputText value="#{item.getAantal()}"/>
                </p:column>
                <p:column  headerText="prijs">
                    <h:outputText value="€ #{item.getBoek().getPrijs() * item.getAantal()}"/>
                </p:column>
                <p:columnGroup type="footer">
                    <p:row>
                        <p:column colspan="3"/>
                        <p:column footerText="totale prijs: "/>
                        <p:column footerText="€ #{winkelmandController.huidigeWinkelmand.totalePrijs}"/>
                    </p:row>
                </p:columnGroup>
            </p:dataTable>
            <p class="btn btn-primary">bestel</p><!--TODO-->
        </ui:define>
    </ui:composition>
</h:body>
</html>
