<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
<ui:composition>
    <b:navBar brand="Brand" brandHref="#" inverse="true" fixed="top">
        <b:navbarLinks>
            <b:navLink value="Home" outcome="/index.xhtml"></b:navLink>
            <b:navLink value="lijst boeken" outcome="/boeken/lijstBoeken"/>
            <b:navLink outcome="/bestelling/winkelmand">
                <i class="glyphicon glyphicon-shopping-cart"></i>#{winkelmandController.getAantalInMandNav()}
            </b:navLink>
            <b:navLink outcome="/tickets/overzichtTickets" value="Tickets"/>
            <b:navLink outcome="#{userController.wijzigGegvens()}" value="Wijzig gegevens"/>

            <!--<b:dropMenu value="Dropdown">-->
                <!--<b:navLink value="Action" href="#"></b:navLink>-->
                <!--<b:navLink value="Another action" href="#"></b:navLink>-->
                <!--<b:navLink value="Something else here" href="#"></b:navLink>-->
            <!--</b:dropMenu>-->

            <b:navLink value="TestPages" outcome="/test/test" styleClass="testPagesNavLink"/>
        </b:navbarLinks>
        <h:form styleClass="navbar-form navbar-right">
            <div class="form-group">
                <b:inputText placeholder="Email" fieldSize="sm"/>
                <!--input type="text" class="form-control" placeholder="Search"/-->
            </div>
            <div class="form-group">
                <b:inputText placeholder="Password" fieldSize="sm"/>
            </div>
            #{' '}
            <b:commandButton action="a" value="Sign in" look="success" icon="chevron-right" iconAlign="right"/>
        </h:form>
    </b:navBar>
</ui:composition>
</html>
