<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <title>Boeken Shop</title>
</h:head>

<h:body style="padding-top: 50px; padding-bottom: 20px;">
        <p:panel rendered="#{userController.isAdmin()}">
            <ui:insert name="header">
                <ui:include src="admin_header.xhtml"></ui:include>
            </ui:insert>
        </p:panel>
        <p:panel rendered="#{!userController.isAdmin()}">
                <ui:insert name="header">
                    <ui:include src="header.xhtml"></ui:include>
                </ui:insert>
        </p:panel>
        <b:jumbotron>
            <b:container>
                <ui:insert name="content_titel"></ui:insert>
            </b:container>
        </b:jumbotron>
        <b:container>
            <ui:insert name="content">
                <ui:include src="content.xhtml"></ui:include>
            </ui:insert>
            <hr/>
            <ui:insert name="footer">
                <ui:include src="footer.xhtml"></ui:include>
            </ui:insert>
        </b:container>
</h:body>
</html>
