<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Voeg rollen toe</title>
</h:head>
<h:body style="padding-top: 50px; padding-bottom: 20px;">
    <ui:include src="/gedeeld/nav.xhtml" />
    <b:jumbotron>
        <b:container>
            <h1><h:outputText value="Maak een nieuwe userrol" /></h1>
        </b:container>
    </b:jumbotron>
    <b:container>
        <h:form>
            <p:panelGrid class="ui-noborder" id="matchGrid" columns="3" style="margin-bottom:10px" cellpadding="5">
                <p:outputLabel for="level" value="Level:" />
                <p:inputText id="level" value="#{userRolController.nieuwLevel}" title="Level" required="true" requiredMessage="vul dit veld in!" converterMessage="Level moet een cijfer zijn!">
                    <f:convertNumber integerOnly="true"/>
                </p:inputText>
                <h:message for="level" style="color:red"/>

                <p:outputLabel for="functie" value="Functie:" />
                <p:inputText id="functie" value="#{userRolController.nieuweFunctie}" title="Functie" required="true" requiredMessage="vul dit veld in!"/>
                <h:message for="functie" style="color:red"/>
                
                <p:commandButton update="matchGrid" value="maak rol" action="#{userRolController.createUserRol()}"/>
            </p:panelGrid>
        </h:form>

        <hr/>
        <footer>
            <p>© Company</p>
        </footer>
    </b:container>
</h:body>
</html>