<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Voeg tickets toe</title>
</h:head>
<h:body style="padding-top: 50px; padding-bottom: 20px;">
    <ui:include src="/gedeeld/nav.xhtml" />
    <b:jumbotron>
        <b:container>
            <h1><h:outputText value="Maak een nieuw ticket" /></h1>
        </b:container>
    </b:jumbotron>
    <b:container>
        <h:form>
            <p:panelGrid class="ui-noborder" columns="3" id="matchGrid" style="margin-bottom:10px" cellpadding="5">
                <p:outputLabel for="user" value="User:" />
                <p:selectOneMenu id="user" binding="#{user}" required="true" requiredMessage="Kies een user">
                    <f:selectItem itemLabel="Kies een user" noSelectionOption="true" />
                    <f:selectItems value="#{userController.findAll()}" var="u" itemLabel="#{u.voornaam} #{u.achternaam}" itemValue="#{u.id}"/>
                    <f:validateRequired/>
                </p:selectOneMenu>
                <h:message for="user" style="color:red"/>

                <p:outputLabel for="onderwerp" value="Onderwerp:" />
                <p:inputText id="onderwerp" value="#{supportTicketController.nieuwOnderwerp}" title="Onderwerp" required="true" requiredMessage="vul dit veld in!"/>
                <h:message for="onderwerp" style="color:red"/>

                <p:outputLabel for="inhoud" value="Inhoud:" />
                <p:inputTextarea id="inhoud" value="#{supportTicketController.nieuweInhoud}" title="Inhoud" required="true" requiredMessage="vul dit veld in!" rows="10" style="width:100%" />
                <h:message for="inhoud" style="color:red"/>
            </p:panelGrid>

            <p:commandButton update="matchGrid" value="maak ticket" action="#{supportTicketController.createSupportTicket(user.value)}" />
        </h:form>

        <hr/>
        <footer>
            <p>© Company</p>
        </footer>
    </b:container>
</h:body>
</html>