<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Auteurs</title>
</h:head>
<h:body>
    <div>
        <p:outputLabel>Auteurs</p:outputLabel>
    </div>
    <div>
        <h:form>

            <p:dataTable var="auteur" value="#{auteurController.getAuteurs()}">
                <p:column headerText="ID">
                    <h:outputText value="#{auteur.id}" />
                </p:column>
                <p:column headerText="Naam">
                    <h:outputText value="#{auteur.naam}" />
                </p:column>
            </p:dataTable>
        </h:form>


    </div>
</h:body>
</html>