<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <ui:include src="../gedeeld/nav.xhtml" />
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <title>axel-addboeken</title>
</h:head>
<h:body style="padding-top: 50px; padding-bottom: 20px;">
    <b:jumbotron>
        <b:container>
            <h1><p:outputLabel value="Boeken toevoegen" /></h1>
        </b:container>
    </b:jumbotron>
    <b:container id="adminToevoegPagina">
        <div class="col-md-6 col-lg-6">
            <h:form>
                <h1><h:outputText value="Voeg boek toe"/></h1>
                <h:panelGrid columns="2" width="80%">

                    <p:outputLabel for="genre" value="Genre" />
                    <p:selectOneMenu id="genre" style="width:100%" value="#{boekController.newBoekGenre}" converter="#{entityConverter}">
                        <f:selectItems value="#{genreController.getGenres()}" var="g" itemLabel="#{g.naam}" itemValue="#{g}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="auteur" value="Auteur" />
                    <p:selectOneMenu id="auteur" binding="#{auteurId}" style="width:100%">
                        <f:selectItem itemLabel="selecteer"  />
                        <f:selectItems value="#{auteurController.getAuteurs()}" var="a" itemLabel="#{a.naam}" itemValue="#{a.id}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="uitgeverij" value="Uitgeverij" />
                    <p:selectOneMenu id="uitgeverij" binding="#{uitgeverijId}" style="width:100%">
                        <f:selectItem itemLabel="selecteer" />
                        <f:selectItems value="#{uitgeverijController.getUitgeverijen()}" var="u" itemLabel="#{u.naam}" itemValue="#{u.id}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="titel" value="Titel" />
                    <p:inputText id="titel" value="#{boekController.newBoekTitel}" style="width:100%" />

                    <p:outputLabel for="beschrijving" value="Beschrijving" />
                    <p:inputTextarea id="beschrijving" value="#{boekController.newBoekBeschrijving}" rows="6" style="width:100%" />

                    <p:outputLabel for="prijs" value="Prijs" />
                    <p:inputText id="prijs" value="#{boekController.newBoekPrijs}" style="width:100%"/>

                    <p:outputLabel for="voorraad" value="Voorraad" />
                    <p:inputText id="voorraad" value="#{boekController.newBoekVoorraad}" title="test" style="width:100%"/>

                    <p:outputLabel />
                    <p:commandButton styleClass="btn btn-success" value="Voeg toe" action="#{boekController.createBoek(auteurId.value,uitgeverijId.value)}" style="width:100%" />

                </h:panelGrid>
            </h:form>
        </div>

        <div class="col-md-6 col-lg-6">
            <h:form>
                <h1><h:outputText value="Voeg genre toe"/></h1>
                <h:panelGrid columns="2" width="80%">
                    <p:outputLabel for="Gnaam" value="Naam" />
                    <p:inputText id="Gnaam" value="#{genreController.newGenreNaam}" style="width:100%" />

                    <p:outputLabel />
                    <p:commandButton styleClass="btn btn-success" value="Genre toevoegen" action="#{genreController.createGenre()}" style="width:100%" />
                </h:panelGrid>
            </h:form>

            <h:form>
                <h1><h:outputText value="Voeg Auteur toe"/></h1>
                <h:panelGrid columns="2" width="80%">
                    <p:outputLabel for="Anaam" value="Naam" />
                    <p:inputText id="Anaam" value="#{auteurController.newAuteursNaam}" style="width:100%" />

                    <p:outputLabel />
                    <p:commandButton styleClass="btn btn-success" value="Auteur toevoegen" action="#{auteurController.createAuteur()}" style="width:100%"/>
                </h:panelGrid>
            </h:form>

            <h:form>
                <h1><h:outputText value="Voeg Uitgeverij toe"/></h1>
                <h:panelGrid columns="2" width="80%">

                    <p:outputLabel for="Unaam" value="Naam" />
                    <p:inputText id="Unaam" value="#{uitgeverijController.newUitgeverijNaam}" style="width:100%" />

                    <p:outputLabel for="Ubeschrijving" value="Beschrijving" />
                    <p:inputTextarea id="Ubeschrijving" value="#{uitgeverijController.newUitgeverijBeschrijving}" style="width:100%" />

                    <p:outputLabel />
                    <p:commandButton styleClass="btn btn-success" value="Uitgeverij toevoegen" action="#{uitgeverijController.createUitgeverij()}" style="width:100%"/>
                </h:panelGrid>
            </h:form>
        </div>

        <div class="clearfix"></div>

        <hr/>
        <footer>
            <p>© Company</p>
        </footer>
    </b:container>
</h:body>
</html>