<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <title>axel-boeken</title>
</h:head>
<h:body>
    <div>
        <div>
            <p:outputLabel>Overzicht Boeken</p:outputLabel>
        </div>
        <div>
            <h:form>
                <p:dataTable var="boek" value="#{boekController.getBoeken()}">
                    <p:column headerText="id">
                        <h:outputText value="#{boek.id}" />
                    </p:column>
                    <p:column headerText="Titel">
                        <h:outputText value="#{boek.titel}" />
                    </p:column>
                    <p:column headerText="Beschrijving">
                        <h:outputText value="#{boek.beschrijving}" />
                    </p:column>
                    <p:column headerText="Prijs">
                        <h:outputText value="#{boek.prijs}" />
                    </p:column>
                    <p:column headerText="Genre">
                        <h:outputText value="#{boek.genre}" />
                    </p:column>
                    <p:column headerText="Auteur">
                        <h:outputText value="#{boek.auteur}" />
                    </p:column>
                    <p:column headerText="Uitgeverij">
                        <h:outputText value="#{boek.uitgeverij}" />
                    </p:column>
                    <p:column headerText="voorraad">
                        <h:outputText value="#{boek.voorraad}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
    </div>
</h:body>
</html>