<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <title>Testpagina</title>
</h:head>
<h:body>
    <ui:include src="/gedeeld/nav.xhtml"/>
    <p:dataTable var="bestelling" value="#{winkelmandController.bestellingen}">
        <p:columnGroup type="header">
            <p:row>
                <p:column headerText="titel"/>
                <p:column headerText="auteur"/>
                <p:column headerText="prijs per stuk"/>
                <p:column headerText="aantal"/>
                <p:column headerText="prijs"/>
            </p:row>
        </p:columnGroup>
        <p:subTable var="item" value="#{bestelling.getItems()}">
            <f:facet name="header">
                <h:outputText value="bestelling door: #{bestelling.getUser().getVoornaam()} #{bestelling.getUser().getAchternaam()}"/>
            </f:facet>
            <p:column>
                <h:outputText value="#{item.getBoek().getTitel()}"/>
            </p:column>
            <p:column>
                <h:outputText value="#{item.getBoek().getAuteur().getNaam()}"/>
            </p:column>
            <p:column>
                <h:outputText value="€ #{item.getBoek().getPrijs()}"/>
            </p:column>
            <p:column>
                <h:outputText value="#{item.getAantal()}"/>
            </p:column>
            <p:column>
                <h:outputText value="€ #{item.getBoek().getPrijs() * item.getAantal()}"/>
            </p:column>
            <p:columnGroup type="footer">
                <p:row>
                    <p:column footerText="totale prijs: "/>
                    <p:column colspan="3"/>
                    <p:column footerText="€ #{bestelling.getTotalePrijs()}"/>
                </p:row>
            </p:columnGroup>
        </p:subTable>
    </p:dataTable>
</h:body>
</html>
