<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Testpagina</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
</h:head>
<h:body>

	<f:view>
		<p:dataTable var="wijze" value="#{betaalwijzeController.getBetaalwijzen()}">
			<p:column headerText="id">
				<h:outputText value="#{wijze.getId()}"/>
			</p:column>
			<p:column headerText="naam">
				<h:outputText value="#{wijze.getNaam()}"/>
			</p:column>
		</p:dataTable>
	</f:view>
</h:body>
</html>
