<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Items</title>
</h:head>
<h:body>
    <div>
        <p:outputLabel>Items</p:outputLabel>
    </div>
    <div>
        <h:form>

            <p:dataTable var="item" value="#{itemController.getItems()}">
                <p:column headerText="ID">
                    <h:outputText value="#{item.id}" />
                </p:column>
                <p:column headerText="Boek_ID">
                    <h:outputText value="#{item.boek.id}" />
                </p:column>
                <p:column headerText="Aantal">
                    <h:outputText value="#{item.aantal}" />
                </p:column>
                <p:column headerText="Winkelmand_ID">
                    <h:outputText value="#{item.winkelmand.id}" />
                </p:column>
            </p:dataTable>
        </h:form>


    </div>
</h:body>
</html>