<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Rollen</title>
</h:head>
<h:body style="padding-top: 50px; padding-bottom: 20px;">
    <ui:include src="/gedeeld/nav.xhtml" />
    <b:jumbotron>
        <b:container>
            <h1><h:outputText value="Overzicht userrollen" /></h1>
        </b:container>
    </b:jumbotron>
    <b:container>
        <h:form>
            <p:dataTable var="rol" value="#{userRolController.getRollen()}">
                <p:column headerText="Id">
                    <h:outputText value="#{rol.id}" />
                </p:column>
                <p:column headerText="Level">
                    <h:outputText value="#{rol.level}" />
                </p:column>
                <p:column headerText="Functie">
                    <h:outputText value="#{rol.functie}" />
                </p:column>
            </p:dataTable>
            <h:commandLink outcome="addRollen.xhtml"/>
        </h:form>

        <hr/>
        <footer>
            <p>© Company</p>
        </footer>
    </b:container>
</h:body>
</html>