<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Genres</title>
</h:head>
<h:body>
    <div>
        <p:outputLabel>Genres</p:outputLabel>
    </div>
    <div>
        <h:form>
        <p:dataTable var="genre" value="#{genreController.getGenres()}">
            <p:column headerText="Titel">
                <h:outputText value="#{genre.id}" />
            </p:column>
            <p:column headerText="Beschrijving">
                <h:outputText value="#{genre.naam}" />
            </p:column>
        </p:dataTable>
        </h:form>
    </div>
</h:body>
</html>
