<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <ui:include src="../gedeeld/nav.xhtml" />
    <title>Test pages</title>
</h:head>
<h:body>
    <div>
        <h:form>
            <p:commandButton redirect="true" ajax="false" action="#{homeController.createAllDummyData}" value="insert DummyData"/>
        </h:form>
    </div>
    <div>
        <h:form>
            <ul>
                <li>
                    <p:commandLink ajax="false" action="#{boekController.toonBoeken}" value="axel - boeken" />
                </li>
                <li>
                    <p:commandLink ajax="false" action="#{boekController.addBoeken}" value="axel - boeken toevoegen" />
                </li>
                <li>
                    <p:commandLink ajax="false" action="#{genreController.toonGenres}" value="philip - genres" />
                </li>
                <li>
                    <p:commandLink ajax="false" action="#{userRolController.toonRollen}" value="ellen - userrollen" />
                </li>
                <li>
                    <p:commandLink ajax="false" action="#{auteurController.toonAuters}" value="test - auteur" />
                </li>
                <li>
                    <p:commandLink ajax="false" action="#{itemController.toonItems}" value="rik - items" />
                </li>
                <li>
                    <p:commandLink ajax="false" action="#{uitgeverijController.toonUitgeverijen}" value="rik - uitgeverijen" />
                </li>
                <li>
                    <h:link value="test betaalwijzen - Tim" outcome="betaalwijzes"/>
                </li>
                <li>
                    <h:link value="test bestellingen - Tim" outcome="bestellingen"/>
                </li>
            </ul>
        </h:form>
    </div>

</h:body>
</html>