<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Uitgeverijen</title>
</h:head>
<h:body>
    <div>
        <p:outputLabel>Uitgeverijen</p:outputLabel>
    </div>
    <div>
        <h:form>

            <p:dataTable var="uitgeverij" value="#{uitgeverijController.getUitgeverijen()}">
                <p:column headerText="ID">
                    <h:outputText value="#{uitgeverij.id}" />
                </p:column>
                <p:column headerText="Naam">
                    <h:outputText value="#{uitgeverij.naam}" />
                </p:column>
                <p:column headerText="Beschrijving">
                    <h:outputText value="#{uitgeverij.beschrijving}" />
                </p:column>
            </p:dataTable>
        </h:form>


    </div>
</h:body>
</html>