ul.opsomming li {
    font-size: 25px;
}

p {
    font-size: 20px;
}

#naamPagina {
    font-size: 30px;
}

body {
    padding-top: 51px; /* anders komt de navbar over de content */
}

.leftRightPadding{
    padding: 0px 10px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1002; /* anders stond melding achter nav*/
}

.myButton{
    margin: 4px auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:none !important;
}
.myButtonWarning{
    background-color: #ED9F35 !important;
}
.myButtonDanger{
    background-color: #d9534f !important;
}

/*admin_boekenBeheren ------------------------------------------------------------------*/
/*TABLE*/
#admin_boekenBeheren table {
    width: 100%;
}

#admin_boekenBeheren table tbody tr td:nth-child(1) {
    width: 80px;
}

#admin_boekenBeheren table tbody tr td:nth-child(2) input,
#admin_boekenBeheren table tbody tr td:nth-child(2) textarea,
#admin_boekenBeheren table tbody tr td:nth-child(2) .dropdown {
    width: 100%;
}

#admin_boekenBeheren table tbody tr td:nth-child(2) button{
    width: 50%;
    float: right;
    margin-top: 15px;
}
/*SELECT ONE PIJLTJE*/
#admin_boekenBeheren div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    width: 25px;
}

/*PANEL*/
#admin_boekenBeheren form>div{
    background-color: #f3f3f3;
    margin:20px;
}

#admin_boekenBeheren .ui-panel-title {
    font-size: 20px !important;
}

/*admin_bestellingenBeheren ------------------------------------------------------------------*/
/*PANEL BESTELLINGEN ZOEKEN*/
#admin_bestellingenBeheren .ui-panel-title {
    font-size: 20px ;
}

#admin_bestellingenBeheren #panelBestellingenZoeken{
    margin: 25px 0px;
}
#admin_bestellingenBeheren #panelBestellingenZoeken .dropdown{
    width: 150px;
    margin: 10px;
}
/*SELECT ONE PIJLTJE*/
#admin_bestellingenBeheren #panelBestellingenZoeken div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    width: 25px;
}
/*DATATABLE*/
#admin_bestellingenBeheren .ui-datatable-subtable-header {
    background-color: lightgray ;
}
#admin_bestellingenBeheren td.ui-state-default {
    background-color: white ;
}
/*DIALOG*/
table.ui-panelgrid>*>tr,
table.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

#itemChangeDialog table tbody tr:nth-child(1) td,
#itemChangeDialog table tbody tr:nth-child(2) td{
    /*color: red;*/
    font-weight: normal !important;
}
#itemChangeDialog table tbody tr td{
    width: 50%;
}
/*SELECT ONE PIJLTJE*/
#itemChangeDialog div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    width: 25px;
}
#itemChangeDialog .dropdown,
 #itemChangeDialog .ui-inputfield.ui-inputtext{
     width: 100%;
     /*margin: 10px;*/
 }
#itemChangeDialog button{
    margin:40px 0 0 0 ;
    width: 50%;
}

#itemChangeDialog button:nth-child(2){
    background-color: lightcoral;
}


/*navigatie --------------------------------------------------------------------------*/
.testPagesNavLink a{
    color:greenyellow !important;
}


