<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>#{boekController.boekFromParam.titel}</h1>
        </ui:define>
        <ui:define name="content">
            <div class="container-fluid">
                <div class="col-sm-12 col-md-6">
                    <h5>bescrijving</h5>
                    <div>#{boekController.getBoek().beschrijving}</div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p>geschreven door: #{boekController.getBoek().auteur}</p>
                    <p>gerne: #{boekController.getBoek().genre.naam}</p>
                    <h5>€ #{boekController.getBoek().prijs}</h5>
                    <h:form>
                        <p>aantal:</p>
                        <p:inputNumber id="aantalBoeken" value="#{winkelmandController.nieuwItem.aantal}" decimalPlaces="0"
                                       minValue="0"/><br/>
                        <p:growl id="growl" life="5000"/>
                        <p:commandButton value="toevoegen aan winkelmand" id="ajax" update="growl" styleClass="btn btn-primary"
                                         actionListener="#{winkelmandController.addItem(boekController.getBoek())}"/>
                        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
