<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script name="jquery/jquery.js" src="primefaces"></script>
    <title>Overzicht Boeken</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</h:head>
<h:body>
    <ui:composition template="../template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Overzicht Boeken</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <p:dataTable var="boek" value="#{boekController.getAllBoeken()}">
                    <p:column headerText="id">
                        <h:outputText value="#{boek.id}" />
                    </p:column>
                    <p:column headerText="Titel">
                        <p:link outcome="/boeken/boek.xhtml?boekId=#{boek.id}" value="#{boek.titel}"/>
                    </p:column>
                    <p:column headerText="Beschrijving">
                        <h:outputText value="#{boek.beschrijving}" />
                    </p:column>
                    <p:column headerText="Prijs">
                        <h:outputText value="€ #{boek.prijs}" />
                    </p:column>
                    <p:column headerText="Genre">
                        <h:outputText value="#{boek.genre}" />
                    </p:column>
                    <p:column headerText="Auteur">
                        <h:outputText value="#{boek.auteur}" />
                    </p:column>
                    <p:column headerText="Uitgeverij">
                        <h:outputText value="#{boek.uitgeverij}" />
                    </p:column>
                    <p:column headerText="voorraad">
                        <h:outputText value="#{boek.voorraad}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>