<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Welkom!</title>
</h:head>
<h:body>
    <ui:composition template="template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Welkom bij Boeken Shop</h1>
        </ui:define>
        <ui:define name="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam condimentum congue. Donec eu molestie arcu. Cras auctor aliquam nibh, et lobortis mauris posuere sed. Nunc maximus mi ullamcorper, consectetur ipsum in, lacinia ipsum. Proin tempor magna libero, vehicula varius mi maximus quis. Donec a faucibus ex, nec vehicula nunc. Proin vel congue justo, sed mollis lectus. Donec euismod nibh quis convallis interdum. Vivamus justo tortor, viverra at odio in, luctus eleifend magna. Duis vel risus nec purus rhoncus faucibus at a leo.</p>
            <hr/>
            <p:commandButton action="test/test.xhtml?faces-redirect=true" value="TestPages" />
        </ui:define>
    </ui:composition>
</h:body>

</html>