<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Welkom!</title>
</h:head>
<body>

<h:form prependId="false" method="POST">
    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
    <p:growl id="messages"/>
    <p:panelGrid columns="2">
        <p:outputLabel value="Username:"/>
        <p:inputText id="username" name="username"/>
        <p:outputLabel value="Password:"/>
        <p:password id="password" name="password"/>
    </p:panelGrid>
    <p:commandButton value="Login" action="/login.xhtml" ajax="false"/>
</h:form>​

</body>
</html>