<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <script type="jquery/jquery.js" src="primefaces"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <title>Registreer</title>
</h:head>
<h:body>
    <ui:composition template="template/template.xhtml">
        <ui:define name="content_titel">
            <h1>Registreer</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <p:panelGrid class="ui-noborder" columns="3" id="matchGrid" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="voornaam" value="Voornaam:"/>
                    <p:inputText id="voornaam" value="#{userController.nieuweVoornaam}" title="Voornaam" required="true"
                                 requiredMessage="vul dit veld in!"/>
                    <h:message for="voornaam" style="color:red"/>

                    <p:outputLabel for="achternaam" value="Achternaam:"/>
                    <p:inputText id="achternaam" value="#{userController.nieuweAchternaam}" title="Achternaam"
                                 required="true" requiredMessage="vul dit veld in!"/>
                    <h:message for="achternaam" style="color:red"/>

                    <p:outputLabel for="adres" value="Adres:"/>
                    <p:inputText id="adres" value="#{userController.nieuweStraatEnHuisnummer}" title="Adres"
                                 required="true" requiredMessage="vul dit veld in!"/>
                    <h:message for="adres" style="color:red"/>

                    <p:outputLabel for="postcode" value="Postcode:"/>
                    <p:inputText id="postcode" value="#{userController.nieuwePostcode}" title="Postcode" required="true"
                                 requiredMessage="vul dit veld in!" validatorMessage="Postcode moet 4 cijfers zijn!"
                                 converterMessage="Postcode moet een cijfer zijn!">
                        <f:validateLength for="postcode" minimum="4" maximum="4"/>
                        <f:convertNumber integerOnly="true"/>
                    </p:inputText>
                    <h:message for="postcode" style="color:red"/>

                    <p:outputLabel for="gemeente" value="Gemeente:"/>
                    <p:inputText id="gemeente" value="#{userController.nieuweGemeente}" title="Gemeente" required="true"
                                 requiredMessage="vul dit veld in!"/>
                    <h:message for="gemeente" style="color:red"/>

                    <p:outputLabel for="email" value="E-mail:"/>
                    <p:inputText id="email" value="#{userController.nieuweEmail}" title="E-mail" required="true"
                                 requiredMessage="vul dit veld in!"/>
                    <h:message for="email" style="color:red"/>

                    <p:outputLabel for="wachtwoord1" value="Wachtwoord:"/>
                    <p:password id="wachtwoord1" value="#{userController.nieuwPassword}" match="wachtwoord2"
                                label="Wachtwoord" required="true" requiredMessage="vul dit veld in!"
                                validatorMessage="Wachtwoorden komen niet overeen!"/>
                    <h:message for="wachtwoord1" style="color:red"/>

                    <p:outputLabel for="wachtwoord2" value="Bevestig wachtwoord:"/>
                    <p:password id="wachtwoord2" value="#{userController.nieuwPassword}" label="Bevestig wachtwoord"
                                required="true" requiredMessage="vul dit veld in!"/>
                    <h:message for="wachtwoord2" style="color:red"/>
                </p:panelGrid>

                <p:commandButton update="matchGrid" value="maak user" action="#{userController.createUser()}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>